In [5]:
import pandas as pds

In [60]:
data = {'T100' : ["I1",'I2','I5','0'] , 'T200':['I2','I4','0' ,'0'] , 'T300' : ['I2','I3','0','0'] , 'T400' : ["I1","I2","I4",'0'],'T500':['I1','I3','0','0'],'T600':['I2','I3','0','0'],'T700':["I1","I3",'0','0'], "T800":["I1","I2","I3","I5"],"T900":["I1","I2","I3",'0']}

In [61]:
df = pd.DataFrame(data = data)

In [62]:
df

  T100 T200 T300 T400 T500 T600 T700 T800 T900
0   I1   I2   I2   I1   I1   I2   I1   I1   I1
1   I2   I4   I3   I2   I3   I3   I3   I2   I2
2   I5    0    0   I4    0    0    0   I3   I3
3    0    0    0    0    0    0    0   I5    0

In [100]:
min_support = 2

In [64]:
I1_count = 0
I2_count = 0 
I3_count = 0 
I4_count = 0 
I5_count = 0

In [65]:
for i in df["T100"].values:
    if("I1" in i):
        I1_count += 1
        
for i in df["T200"].values:
    if("I1" in i):
        I1_count += 1
for i in df["T300"].values:
    if("I1" in i):
        I1_count += 1
for i in df["T400"].values:
    if("I1" in i):
        I1_count += 1
for i in df["T500"].values:
    if("I1" in i):
        I1_count += 1
for i in df["T600"].values:
    if("I1" in i):
        I1_count += 1
for i in df["T700"].values:
    if("I1" in i):
        I1_count += 1
for i in df["T800"].values:
    if("I1" in i):
        I1_count += 1
        
for i in df["T900"].values:
    if("I1" in i):
        I1_count += 1
print(I1_count)

6

In [70]:
for i in df["T100"].values:
    if("I2" in i):
        I2_count += 1
        
for i in df["T200"].values:
    if("I2" in i):
        I2_count += 1
for i in df["T300"].values:
    if("I2" in i):
        I2_count += 1
for i in df["T400"].values:
    if("I2" in i):
        I2_count += 1
for i in df["T500"].values:
    if("I2" in i):
        I2_count += 1
for i in df["T600"].values:
    if("I2" in i):
        I2_count += 1
for i in df["T700"].values:
    if("I2" in i):
        I2_count += 1
for i in df["T800"].values:
    if("I2" in i):
        I2_count += 1
        
for i in df["T900"].values:
    if("I2" in i):
        I2_count += 1
print(I2_count)

7

In [66]:
for i in df["T100"].values:
    if("I3" in i):
        I3_count += 1
        
for i in df["T200"].values:
    if("I3" in i):
        I3_count += 1
for i in df["T300"].values:
    if("I3" in i):
        I3_count += 1
for i in df["T400"].values:
    if("I3" in i):
        I3_count += 1
for i in df["T500"].values:
    if("I3" in i):
        I3_count += 1
for i in df["T600"].values:
    if("I3" in i):
        I3_count += 1
for i in df["T700"].values:
    if("I3" in i):
        I3_count += 1
for i in df["T800"].values:
    if("I3" in i):
        I3_count += 1
        
for i in df["T900"].values:
    if("I3" in i):
        I3_count += 1
print(I3_count)

6

In [67]:
for i in df["T100"].values:
    if("I4" in i):
        I4_count += 1
        
for i in df["T200"].values:
    if("I4" in i):
        I4_count += 1
for i in df["T300"].values:
    if("I4" in i):
        I4_count += 1
for i in df["T400"].values:
    if("I4" in i):
        I4_count += 1
for i in df["T500"].values:
    if("I4" in i):
        I4_count += 1
for i in df["T600"].values:
    if("I4" in i):
        I4_count += 1
for i in df["T700"].values:
    if("I4" in i):
        I4_count += 1
for i in df["T800"].values:
    if("I4" in i):
        I4_count += 1
        
for i in df["T900"].values:
    if("I4" in i):
        I4_count += 1
print(I4_count)

2

In [68]:
for i in df["T100"].values:
    if("I5" in i):
        I5_count += 1
        
for i in df["T200"].values:
    if("I5" in i):
        I5_count += 1
for i in df["T300"].values:
    if("I5" in i):
        I5_count += 1
for i in df["T400"].values:
    if("I5" in i):
        I5_count += 1
for i in df["T500"].values:
    if("I5" in i):
        I5_count += 1
for i in df["T600"].values:
    if("I5" in i):
        I5_count += 1
for i in df["T700"].values:
    if("I5" in i):
        I5_count += 1
for i in df["T800"].values:
    if("I5" in i):
        I5_count += 1
        
for i in df["T900"].values:
    if("I5" in i):
        I5_count += 1
print(I5_count)

2

In [71]:
iteration1 = {"Itemset" : ["I1" ,"I2" ,"I3","I4" ,"I5"] , "Supp_count":[I1_count , I2_count , I3_count , I4_count , I5_count]}
iteration1 = pd.DataFrame(data = _1st_iteration)
iteration1

  Itemset  Supp_count
0      I1           6
1      I2           7
2      I3           6
3      I4           2
4      I5           2

In [102]:
for i in range(len(iteration1)):
    if(iteration1.values[i][1] < min_support):
        iteration1.drop([iteration1.values[i][1]] , axis = 0 )
print(iteration1)

  Itemset  Supp_count
0      I1           6
1      I2           7
2      I3           6
3      I4           2
4      I5           2